<div class="recommendations-container">
  <h1>Game Recommendations</h1>
  <div *ngIf="isLoading; else content">
    <p>Games loading...</p>
  </div>
  <ng-template #content>
    <div *ngIf="games?.length; else noData">
      <ul>
        <li *ngFor="let game of games" class="game-card">
          <div class="game-image" [style.backgroundImage]="'url(' + game.background_image + ')'"></div>
          <div class="game-details">
            <h3>{{ game.name }}</h3>
            <p><strong>Released:</strong> {{ game.released }}</p>
            <p><strong>Rating:</strong> {{ game.rating }}</p>
            <p><strong>Platforms:</strong> {{ game.platforms.join(', ') }}</p>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noData>
      <p>No recommendations available.</p>
    </ng-template>
  </ng-template>
</div>
