
# Web framework for building APIs with Python
fastapi~=0.115.6

# ASGI server for running FastAPI apps
uvicorn

# Load environment variables from a .env file
python-dotenv~=1.0.1

# Secure password hashing library
bcrypt~=4.2.1

# HTTP client for making asynchronous requests
httpx~=0.28.1

# Adds email validation features to Pydantic models
pydantic[email]~=2.10.5

# Object-Relational Mapping (ORM) for database interactions
sqlalchemy

# Database migration tool for SQLAlchemy
alembic

# Library for JSON Web Tokens (JWT) and cryptographic operations
python-jose~=3.3.0

# Password hashing library with bcrypt support
passlib[bcrypt]

starlette~=0.41.3