.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.category-button {
  margin: 0 10px; /* Space between buttons */
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

.category-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.category-button:active {
  background-color: #004494;
  transform: scale(1);
}